---
import PostCard from "@/components/ui/PostCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import paramas from "@/assets/avatar.jpg";
import Heading from "@/components/ui/Heading.astro";

const allPosts = await getCollection("posts", ({data}) => !data.isDraft);
---

<BaseLayout title="blog">
    <section aria-label="Blog Posts">
        <div class="blog-wrapper">
            <div class="columns">
                <Image src={paramas} alt="Paramas Waewsuwan" class="avatar" width={140} height={140}/>
                <div class="rows">
                    <div class="columns">
                        <Heading tagName="h1" size="h2">My Writings</Heading>
                    </div>
                    <p>
                        I like to write about productivity, web development, design, and
                        working with clients. Get a sense of what it’s like to work with me
                        and understand my process.i
                    </p>
                </div>
            </div>
            <div class="grid-wrapper">
                {
                    allPosts.map(p => <PostCard post={p} />)
                }
            </div>
        </div>
    </section>
</BaseLayout>