---
import Heading from "../ui/Heading.astro";
---

<header aria-lable="Introduction to Pro" class="hero-projects">
    <div class="rows">
        <Heading tagName="h1" size="h2">Projects page</Heading>
        <p>Here are some recent website and apps you can explore for yourself!</p>
    </div>
</header>
