---
import { Image } from "astro:assets";

import paramas from "@/assets/avatar.jpg";
import Heading from "./ui/Heading.astro";
---

<section aria-lable="Contact Form" class="relative">
    <div data-pattern=""></div>
    <div class="form-wrapper">
        <Image
            src={paramas}
            alt="Paramas Waewsuwan"
            class="headshot"
            width="700"
            format="avif"
        />
        <form id="contact-form">
            <Heading tagName="h2" size="h2"> Let's Connect! </Heading>
            <p>Reach out below for inquiries, quotes, or collaborations.</p>
            <div class="input-wrapper">
                <label for="name">Frist Name</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="e.g., Paramas Waewsuwan"
                />
                <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="e.g., email@email.com"
                />
            </div>
            <button type="submit" class="btn primary">Contact Me</button>
        </form>
        <p class="message"></p>
    </div>
</section>

<script>
    const contactForm = document.querySelector("#contact-form") as HTMLFormElement;
    const messageParagraph = document.querySelector(".message") as HTMLParagraphElement;

    const updateMessages = (message: string, type: "error" | "success") => {
        messageParagraph.classList.add(type);
        messageParagraph.textContent = message;
        setTimeout(() => {
            messageParagraph.textContent = "";
            messageParagraph.classList.remove(type);
        }, 3000)
    }
    contactForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(contactForm);
        const {name, email} = Object.fromEntries(formData)

        if(!name || typeof name !== "string" || name.length < 2) {
            return updateMessages("Please enter a valid name", "error");
        }
        
        if(!email || typeof email !== "string" || email.includes("@")) {
            return updateMessages("Please enter a valid email", "error");
        }

        try {
            const res = await fetch("http://localhost:3000/contacts", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: name,
                    email: email,
                }),
            });
            if(!res.ok){
                throw new Error("Response was not OK");
            }
            contactForm.reset();
            return updateMessages("Thanks for reaching out!", "success");
        } catch (error) {
            if(error instanceof Error) {
                console.error(error.message)
                return updateMessages(error.message, "error");
            }
            return updateMessages("Something went wrong", "error");
        } 
    });
</script>
